@import "../../../colors-variables.scss";

main {
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-family: "Roboto", sans-serif;

    span {
        font-size: 20px;
        font-weight: 700;
    }

    h1 {
        font-size: 72px;
        font-weight: 900;
        color: $primary-color;
    }
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .benefit-data{
        border-bottom: 10px solid $secondary-color;
        padding-bottom: 40px;

        h2 {
            font-size: 60px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: $primary-text
        }
    }

    p {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        
        b {
            background: -webkit-linear-gradient(180deg, $light-primary-color, $secondary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }


}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: $primary-text;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }

    .benefit-section {
        display: flex;
        flex-direction: row;

        .benefit-data h2{
            font-size: 60px;
        }
        p {
            font-size: 40px;
        }
    }

    .cta-section h2 {
        font-size: 60px;
    }
}